body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .chessboard {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
  }
  .cell {
    display: flex;
  }
  .cell.black {
    background-color: black;
  }
  .cell.white {
    background-color: white;
  }
  