/* Основные стили для элементов светофора */
.trafficLight {
    border-radius: 50%; /* Закругленные края, чтобы элементы выглядели как круги */
    border: 2px solid black; /* Черная рамка вокруг каждого элемента */
    height: 75px; /* Высота круга */
    width: 75px; /* Ширина круга */
    margin: 20px auto; /* Выравнивание элементов по центру страницы */
    background-color: gray; /* Серый цвет для неактивных состояний */
}

/* Красный свет */
.trafficLight-red {
    background-color: red; /* Активное состояние для красного света */
}

/* Желтый свет */
.trafficLight-yellow {
    background-color: yellow; /* Активное состояние для желтого света */
}

/* Зеленый свет */
.trafficLight-green {
    background-color: green; /* Активное состояние для зеленого света */
}
