.trafficLight {
    border-radius: 50%; /* Закругленные края, чтобы элементы выглядели кругами */
    border: 2px solid black;
    height: 200px;
    width: 200px;
    margin: 20px auto; /* Выравнивание элементов по центру страницы */
    background-color: gray; /* Серый цвет для неактивных состояний */
}

/* Красный свет */
.trafficLight-red {
    background-color: red; /* Активно-красное состояние */
}

/* Желтый свет */
.trafficLight-yellow {
    background-color: yellow; /* Активно-желтое состояние */
}

/* Зеленый свет */
.trafficLight-green {
    background-color: green; /* Активно-зеленоое состояние */
}
